"*":
  "atom-beautify":
    _analyticsUserId: "019c06e6-ef8e-4260-823a-90f039b27d0e"
  "autocomplete-plus":
    autoActivationDelay: 150
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "f8b42441-9e5a-b0a5-3076-474dbe6b2797"
  linter:
    errorPanelHeight: 160
    showErrorPanel: false
  "linter-flake8":
    ignoreErrorCodes: [
      "E128"
      "E501"
    ]
  welcome:
    showOnStartup: false
