"*":
  "atom-beautify":
    analytics: false
  "autocomplete-plus":
    autoActivationDelay: 150
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "f8b42441-9e5a-b0a5-3076-474dbe6b2797"
  linter:
    errorPanelHeight: 160
    showErrorPanel: false
  "linter-flake8":
    ignoreErrorCodes: [
      "E128"
      "E501"
    ]
  "linter-pep257":
    ignoreCodes: "D100,D101,D102,D103,D104,D105"
  welcome:
    showOnStartup: false
