# Run with `pip install -r requirements.txt`

ipdb # pdb with ipython integrated
ipython

pudb  # best debugger around

## Linters ##
flake8
pep8-naming
pycodestyle
pydocstyle
# prospector

## Packaging ##
# virtualenv is included with >= Python 3.4
virtualenv
virtualenvwrapper
pip-tools
