# Run with `pip install -r requirements.txt`

ipdb # pdb with ipython integrated
ipython

## Linters ##
flake8
pep8-naming
pydocstyle
# prospector

## Packaging ##
# virtualenv is included with >= Python 3.4
virtualenv
virtualenvwrapper
pip-tools
